*{
	margin: 0px;
	padding: 0px;
	}

body {
	font-size: 12px;
	color: #333;
	margin: auto;
	position: relative;  /* 相对定位 */
	background: url("../images/bj.jpg");
	
}

#main{
	width: 985px;
	background: url("../images/zhong.jpg") repeat-y 0% 0% transparent;
	margin: auto;
	padding: 0px 10px;
	display: table;
}
#main div{
	border-radius: 6px;
}
div ul{
	list-style-type: none;
}
#head{
	height: 234px;
	background: url("../images/zhong.jpg") repeat-y 0% 0% transparent;
}
#logo{
	height: 180px;
	color: #FFF;
	background: url("../images/top.jpg") repeat-y 0% 0% transparent;
}
#logo .lg{
	height: 150px;
}
#logo h3{
	font-size: 20px;
	margin-left: 250px;
	padding-left: 20px;
	letter-spacing: 1px;
	background: url("../images/x4.gif") no-repeat 0px 8px transparent;
}
#nav{
	height: 54px;
	background: url("../images/nav.jpg") repeat-x scroll 0% 0% transparent;
}
#nav ul{
	text-align: center;
	margin-left: 110px;
}
#nav ul .sel{
	background: url("../images/pen.gif") no-repeat scroll 0px 17px transparent;
}
#nav ul li{
	float: left;
	width: 86px;
	height: 54px;
	line-height: 54px;
}
#nav ul li a{
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
#sidebar{
	width: 240px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	background: no-repeat scroll 0% 0% #E1E0CC;
}
.nav-title{
	height: 40px;
	line-height: 35px;
	font-size: 14px;
	text-indent: 20px;
	color: #EEE;
	background: url("../images/a2.gif") repeat-x scroll 0% 0% transparent;
}
.nav-title-lift{
	float: left;
	background: url("../images/a1.gif") no-repeat scroll 0% 0% transparent;
}
.nav-title-right{
	float: right;
	background: url("../images/a3.gif") no-repeat scroll 0% 0% transparent;
	width: 80px;
	height: 40px;
}
#sidebar #side_1{
	border: 1px solid #CCC; 
	height: 170px;
	text-align: center;
}
#sidebar #side_1 dl{
	width: 220px;
	padding-top: 15px;
	text-align: center;
}
#sidebar #side_1 dl dd{
	padding-top: 5px;
}
#sidebar side_1 a{
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
img {
	border: medium none;
}
#side_2{
	text-indent: 2em;
	font-size: 12px;
	line-height: 150%;
	text-align: justify; /* 文字两端对齐 */
	padding: 5px;
}




